.image{position:relative;}

.zone-infos{
  display:none;
  position:absolute;
  border-radius: 6px;
  text-align : center;
  padding : 8px 0;
  cursor : default;
  top:100px;
  left:0px;
  background-color: rgba(255, 204, 0, 0.5);
}

h1{user-select:none;}
body{user-select: none;}
