/* 
    Document   : style
    Created on : 4 déc. 2010, 13:17:50
    Author     : Germain
    Description:
        Purpose of the stylesheet follows.
*/
div.fileinputs {
    position: relative;
    height: 30px;
    width: 350px;
}

div.fileinputs input.file {
    margin-top:5px;
    _margin-top: 3px;
    *margin-top: 3px;
    width: 350px;
    height:25px;
}

div.fileinputs input.file.hidden {
    position: relative;
    text-align: right;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    opacity: 0;
    z-index: 2;
}

div.fakefile {
    position: absolute;
    top: 0;
    left: 0px;
    width: 370px;
    padding: 0;
    margin: 0;
    z-index: 1;
    line-height: 90%;
		background-color:#CCC
}
div.fakefile input {
    margin-bottom: 5px;
    margin-left: 0;
    margin-right:5px;
    float:left;
		background-color:#CCC
}

div.fakefile input.input_background{
    font-size: 12px;
    line-height: 12px;
    background:url(../upload/img/input.gif) no-repeat top left;
    height:24px;
    padding:7px 0 5px 4px;
    _padding:9px 0 3px 4px;
    *padding:9px 0 3px 4px;
    width:252px;
    border: medium none;
    margin: 0;
    display:block;
}

div.fakefile input.input_button{
    background:url(../images/b_parcourir.png) no-repeat top left;
    height:24px;
    width:88px;
    border: medium none;
    margin: 0;
    display:block;
    float:left;
    margin-top:1px;
    margin-left:5px;
}